numpy
pandas
uvicorn
fastapi
passlib
python-jose
python-dotenv
snowflake-connector-python
bcrypt
python-multipart
jose
mysql-connector-python
pytest
httpx
tsai
matplotlib
sqlalchemy
snowflake-sqlalchemy
mlflow
pyarrow>=10.0.1,<10.1.0
scikit-learn==1.2.2
imbalanced-learn==0.10.1
gdown
