numpy==1.24.3
pandas==2.0.2
uvicorn==0.22.0
fastapi==0.95.2
passlib==1.7.4
python-jose==3.3.0
python-dotenv==1.0.0
snowflake-connector-python==3.0.4
bcrypt==3.2.0
python-multipart==0.0.6
mysql-connector-python==8.0.33
pytest==7.1.2
tsai==0.3.6
matplotlib==3.5.2
sqlalchemy==1.4.39
snowflake-sqlalchemy
mlflow==2.3.1
pyarrow>=10.0.1,<10.1.0
scikit-learn==1.2.2
imbalanced-learn==0.10.1
gdown==4.7.1
boto3==1.26.164
httpx
