/Backend/weaterAUS.csv
/Backend/data/
/Backend/models/
/Backend/api/mlruns
/Backend/api/training/mlruns
/Backend/full.json
/Backend/lite.json
*.pyc
/Backend/Train/historical_20080801_full.csv
/Backend/Train/Margaux_v2a.pt
/Backend/airflow/logs/**
/Backend/airflow/redis-data/**
/Backend/airflow/database/**
/Backend/.env.uid