/Backend/weaterAUS.csv
/Backend/data/
/Backend/models/
/Backend/api/mlruns
/Backend/api/logs
/Backend/api/training/mlruns
/Backend/full.json
/Backend/lite.json
*.pyc
/Backend/Train/historical_20080801_full.csv
/Backend/Train/Margaux_v2a.pt
/Backend/airflow/database
/Backend/airflow/logs